/*
fontes:
	Titulo: font-family: 'Marmelad', sans-serif;
	Subtitulo: font-family: 'Alegreya Sans SC', sans-serif;
	Corpo: font-family: 'Open Sans', sans-serif;

Cores:
	Primaria:
	Secundaria:
*/

body{
	background-color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

h1{
	font-size: 50px;
	font-family: 'Marmelad', sans-serif;
}

h2{
	color: #E07A5F;
	font-size: 30px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
h3{
	color: #122C34;
}

/* ID*/

#titulo{
	color: #000;
	background-size: cover;
	padding: 50px;

	background-image: url("add/sky.jpg");
	

}
#jose{
	display: block;
	margin: auto;
	width: 240px;
	height: 320px;
}
#bot{
	background-color: #3D405B;
	color: #fff;
	padding: 5px;

}
/*CLASS*/
#foto{
	padding: 2px;
	border-radius: 4px;
	box-shadow: 1px 1px 2px gray;
	display: block;
	margin: auto;
}
#cejw{
	padding: 2px;
	border-radius: 4px;
	box-shadow: 1px 1px 2px gray;
	display: block;
	margin: auto;
	width: 200px;
	height: 130px;
}
#decolar{
	padding: 2px;
	border-radius: 4px;
	box-shadow: 1px 1px 2px gray;
	display: block;
	margin: 5px;
	width: 200px;
	height: 160px;
}